.Vehiculos {
  text-align: center;
  padding: 20px;
}

.vehicle-slide {
  text-align: center;
  padding: 20px;
}

.vehicle-slide h2 {
  margin-bottom: 10px;
}

.vehicle-slide img {
  max-width: 100%;
  height: auto;
}

.cotizar-button {
  color: white;
  background-color: purple;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.regresar-button {
  color: white;
  background-color: blue;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}
/* VehiculosView.css */

.vehicle-slide {
  text-align: center;
  padding: 20px;
}

.vehicle-slide h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.vehicle-slide img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.vehicle-slide button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.vehicle-slide button a {
  color: white;
  text-decoration: none;
}
.vehicle-slide .cotizar-button {
  font-size: 16px; /* Ajusta el tamaño deseado */
}

